In [0]:
import pandas as pd
import numpy as np

from sklearn import datasets

from sklearn.tree import DecisionTreeClassifier

from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [106]:
credit = pd.read_csv('credit.csv')
credit.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
3,< 0 DM,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes

In [107]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
checking_balance        1000 non-null object
months_loan_duration    1000 non-null int64
credit_history          1000 non-null object
purpose                 1000 non-null object
amount                  1000 non-null int64
savings_balance         1000 non-null object
employment_duration     1000 non-null object
percent_of_income       1000 non-null int64
years_at_residence      1000 non-null int64
age                     1000 non-null int64
other_credit            1000 non-null object
housing                 1000 non-null object
existing_loans_count    1000 non-null int64
job                     1000 non-null object
dependents              1000 non-null int64
phone                   1000 non-null object
default                 1000 non-null object
dtypes: int64(7), object(10)
memory usage: 132.9+ KB

In [108]:
credit.describe()

,months_loan_duration,amount,percent_of_income,years_at_residence,age,existing_loans_count,dependents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000

In [0]:
credit.drop('phone',axis = 1, inplace = True)
credit.drop('purpose',axis = 1, inplace = True)
credit.drop('employment_duration',axis = 1, inplace = True)
credit.drop('checking_balance',axis = 1, inplace = True)
credit.drop('savings_balance',axis = 1, inplace = True)

# converting categorical features

In [0]:
default = pd.get_dummies(credit['default'],drop_first = True)
job = pd.get_dummies(credit['job'],drop_first = True)
housing = pd.get_dummies(credit['housing'],drop_first = True)
other_credit = pd.get_dummies(credit['other_credit'],drop_first = True)
credit_history = pd.get_dummies(credit['credit_history'],drop_first = True)

In [0]:
credit.drop(['default','job','housing','other_credit','credit_history'],axis = 1, inplace = True )
credit = pd.concat([credit,default,job,housing,other_credit,credit_history],axis = 1)

In [112]:
credit.head()

,months_loan_duration,amount,percent_of_income,years_at_residence,age,existing_loans_count,dependents,yes,skilled,unemployed,unskilled,own,rent,none,store,good,perfect,poor,very good
0,6,1169,4,4,67,2,1,0,1,0,0,1,0,1,0,0,0,0,0
1,48,5951,2,2,22,1,1,1,1,0,0,1,0,1,0,1,0,0,0
2,12,2096,2,3,49,1,2,0,0,0,1,1,0,1,0,0,0,0,0
3,42,7882,2,4,45,1,2,0,1,0,0,0,0,1,0,1,0,0,0
4,24,4870,3,4,53,2,2,1,1,0,0,0,0,1,0,0,0,1,0

# Data preparation and model building

In [0]:
X = credit.drop('yes', axis=1)
y = credit['yes']

#splittig data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [114]:
# Running the random forest with default parameters.
rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [0]:
# Making predictions
predictions = rfc.predict(X_test)

In [116]:
from sklearn.metrics import classification_report,confusion_matrix

print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.70      0.91      0.79       204
           1       0.46      0.17      0.24        96

   micro avg       0.67      0.67      0.67       300
   macro avg       0.58      0.54      0.52       300
weighted avg       0.62      0.67      0.61       300

In [117]:
# Printing confusion matrix
print(confusion_matrix(y_test,predictions))

[[185  19]
 [ 80  16]]

In [118]:
print(accuracy_score(y_test,predictions))

0.67